<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>JBC Grocery Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

</head>
<body>

<div class="container">
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">JBC Store</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/addCosmetics">Add Cosmetic Inventroy</a></li>
            <li><a href="/addCleaning">Add Cleaning Inventroy</a></li>
            <li><a href="/addSnacks">Add Snacks Inventroy</a></li>
        </ul>
    </div>

</nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 well">
            <p th:inline="text">Total Number of Snacks [[${snackTotalCount}]]</p>
            <p th:inline="text">Total Price of Snacks [[${snackTotalPrice}]]</p>


        </div>
        <div class="col-md-3 well">
            <p th:inline="text">Total Number of Cosmetics [[${cosmeticTotalCount}]]</p>
            <p th:inline="text">Total Price of Cosmetics [[${cosmeticTotalPrice}]]</p>

        </div>
        <div class="col-md-3 well">

            <p th:inline="text">Total Number of Cleaning Items [[${cleaningTotalCount}]]</p>
            <p th:inline="text">Total Price of Cleaning Items [[${cleaningTotalPrice}]]</p>

        </div>
        <div class="col-md-3 well">
            <p th:inline="text">Total inventory  count [[${totalInventoryCount}]]</p>
            <p th:inline="text">Total inventory  Price [[${totalInventoryPrice}]]</p>



        </div>
    </div>

</div>





<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" />
</body>
</html>